@font-face {
    font-family: "Baloo Tammudu 2";
    src: url('/fonts/BalooTammudu2-ExtraBold.ttf');
}

body {
    background-color: white;
    width: 324px;
}

.item {
    display: flex;
    flex-flow: row;
}

.textarea {
    resize: none;
    outline: none;
    border: none;
}

.color {
    border: none;
    width: 16px;
    height: 20px;
    padding: 0px;
    background-color: #f7f7f7;
}

.flag-off {
    font-size: 11px;
    padding: 0px 2px;
    outline: none;
    background-color: #e81a70;
    border: 1px solid #dadce0;
    margin: 2px 5px 2px 5px;
    color: white;
}

.flag-on {
    font-size: 11px;
    padding: 0px 2px;
    outline: none;
    background-color: white;
    border: 1px solid #dadce0;
    margin: 2px 5px 2px 5px;
}

.tabs {
    display: flex;
    flex-flow: row;
}

.tab {
    border: 1px solid black;
    border-bottom: none;
}

.wrap {
    overflow: auto;
    border: 1px solid #c6c3d6;
    max-height: 510px;
    border-radius: 4px;
}

#list {
    padding: 5px;
}

#domain {
    padding: 5px;
}

#title {
    font-family: Baloo Tammudu 2;
    font-size: 20px;
    color: #e81a70;
    margin: -8px 0px 3px 0px;
}

.button-below {
    background-color: white;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #e81a70;
    margin-top: 5px;
    font-weight: 500;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    line-height: 20.02px;
    cursor: pointer;
    position: absolute;
    left: 35%;
    width: 106px;
    margin-top: 10px;
}

.button-below:hover {
    background-color: #e81a70;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

#saving {
    visibility: hidden;
    margin-left: -50px;
    margin-top: -3px;
    font-weight: 900;
}

#settings {
    width: 22px;
    float: right;
    cursor: pointer;
    margin-top: 11px;
}

#clear {
    margin-top: 5px;
    display: inline-flex;
    position: relative;
    top: 3px;
    justify-content: center;
    outline: none;
    width: 26px;
    height: 24px;
    border-radius: 25px;
    border: 1px solid #dadce0;
    cursor: pointer;
}

#clear:hover {
    background-color: #f8f8f8;
}

.footer {
    height: 37px;
}

.groupColors {
    display: inline-flex;
    margin-left: 23px;
    display: none;
}

#settings-page {
    display: none;
}

#blacklist {
    border: 1px solid #c6c3d6;
    padding: 0px 2px;
    padding-bottom: 3px;
    margin-top: 10px;
    max-height: 387px;
    border-radius: 4px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #e81a70;
    border-radius: 5px;
}

#clearAll {
    background-color: white;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #e81a70;
    font-weight: 500;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    line-height: 20.02px;
    cursor: pointer;
}

#clearAll:hover {
    background-color: #e81a70;
    color: white;
}

#donate {
    position: absolute;
    right: 50px;
    top: 6px;
    text-decoration: none;
}

#donate:hover {
    text-decoration: underline;
}

.toggle-control {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control input:checked~.control {
    background-color: #ff7cb3ea;
}

.toggle-control input:checked~.control:after {
    left: 17px;
}

.toggle-control .control {
    position: absolute;
    top: 0;
    left: -30px;
    height: 13px;
    width: 29px;
    border-radius: 25px;
    background-color: darkgray;
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 9px;
    height: 9px;
    border-radius: 25px;
    background: #e81a70;
    transform: scale(1.8);
    -webkit-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
}