@font-face {
    font-family: "Baloo_Tammudu_2";
    src: url('/fonts/BalooTammudu2-ExtraBold.ttf');
}

@font-face {
    font-family: "Rubik";
    src: url('/fonts/Rubik-VariableFont_wght.ttf');
}

/* dark #271729 #14181b */
/* :root {
    --body: #f7f8f9;
    --main: #fc036b;
    --main-soft: #ffc6c6;
    --color-light: white;
    --background-main: white;
    --btn-highlight-1: #f8f8f8;
    --color-main: white;
    --text-color: #12173e;
    --border-color: #dadce0;
    --shadow: #0000001c;
    --odd-background: #e5e5e5;
    --info-fill: #ff529a;
    --btn-primary: #185adb;
    --btn-secondary: #f1f5fd;
    --btn-primary-text: #185adb;
    --btn-secondary-text: #f1f5fd;
    --btn-primary-light: #1a73e8;
    --btn-danger: #e11900;
    --text-soft: #6b6f87;
    --text-danger: #cc2b2b;


    --label-color-focus: white;
    --label-backround-focus: #596593;
    --input-border-focus: #6770c0;

    --label-backround: #d9e0fa;
    --label-color: #6d5fb7;
    --input-border: #aba6cd;
    --input-color: #4a2297;
    --input-place-color: #c3c9d6;
    --input-primary-border: #ff8484;

    --tooltip-background: #ffffff82;
    --tooltip-accent: #383838;
    --tooltip-color: #383838;
    --tooltip-border: #222222;
    --tooltip-input: #e9e9e9a8;
    --tooltip-hover: #d6d6e4c9;
    --tooltip-active: #c5c5d4c9;
    --tooltip-seperator: #cbcbcc;
    --tooltip-icon: #7e7e7e;
    --tooltip-input-bg: #ffffff;

    --menu-color: #999999;

    --toggle-color: #1abc9c;
    --toggle-color-2: #16a085;
    --toggle-off: #e1e1e1;
    --toggle-btn-off: #fff;
    --toggle-border: #a1a1a1;
    --toggle-shadow: #444444;

    --bg-picker-color: white;
    --text-picker-color: white;


    --main-font-family: Rubik;
} */

:root {
    --body: #14181b;
    --main: #fc036b;
    --main-soft: #ffc6c6;
    --color-light: white;
    --background-main: #262a2d;
    --btn-highlight-1: #ffffff14;
    --color-main: white;
    --text-color: #d1d1d1;
    --border-color: #ffffff1a;
    --shadow: #ffffff14;
    --odd-background: #e5e5e5;
    --info-fill: #ff529a;
    --btn-primary: #185adb;
    --btn-secondary: #f1f5fd1f;
    --btn-primary-text: #8db4ff;
    --btn-secondary-text: #f1f5fd;
    --btn-primary-light: #1a73e8;
    --btn-danger: #e11900;
    --text-soft: #6b6f87;
    --text-danger: #ff6666;

    --label-color-focus: white;
    --label-backround-focus: #596593;
    --input-border-focus: #6770c0;

    --label-backround: #d9e0fa;
    --label-color: #6d5fb7;
    --input-border: #aba6cd;
    --input-color: #4a2297;
    --input-place-color: #c3c9d6;
    --input-primary-border: #ff8484;

    --tooltip-background: #ffffff1a;
    --tooltip-accent: #f8f8f8;
    --tooltip-color: #d1d1d1;
    --tooltip-border: #222222;
    --tooltip-input: #ffffff14;
    --tooltip-hover: #d6d6e4c9;
    --tooltip-active: #c5c5d4c9;
    --tooltip-seperator: #cbcbcc;
    --tooltip-icon: #7e7e7e;
    --tooltip-input-bg: #14181b;

    --menu-color: #999999;

    --toggle-color: #1abc9c;
    --toggle-color-2: #16a085;
    --toggle-off: #ffffff21;
    --toggle-btn-off: #fff;
    --toggle-border: #a1a1a1;
    --toggle-shadow: #444444;

    --bg-picker-color: white;
    --text-picker-color: white;


    --main-font-family: Rubik;
}


@keyframes slidein {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 100;
    }
}

@keyframes slideinRev {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 100;
    }
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* html {
     filter: invert(68%) hue-rotate(180deg) contrast(2) brightness(0.9);
 }  */

* {
    font-family: var(--main-font-family);
    font-variation-settings: "wght" 410;
}

body {
    background-color: var(--body);
    width: 400px;
    counter-reset: black white blackCust whiteCust;
}

.item {
    display: flex;
    flex-flow: row;
}

.item.visible {
    display: flex;
}

.item.hidden {
    display: none;
}

.restrict {
    display: flex;
    flex-flow: row;
}

.textarea {
    resize: none;
    outline: none;
    border: none;
    flex: 1;
    white-space: nowrap;
    background-color: transparent;
}

.textarea::-webkit-scrollbar {
    height: 0px;
}


.color {
    border: none;
    width: 16px;
    height: 20px;
    padding: 0px;
    background-color: var(----background-main);
}

[data-toggle="flag-off"] {
    font-family: var(--main-font-family);
    font-size: 11px;
    padding: 0px 2px;
    outline: none;
    background-color: var(--main);
    border: 1px solid var(--border-color);
    margin: 2px 5px 2px 5px;
    color: var(--color-main);
    border-radius: 4px;
}

[data-toggle="flag-on"] {
    font-family: var(--main-font-family);
    font-size: 11px;
    padding: 0px 2px;
    outline: none;
    background-color: var(--body);
    border: 1px solid var(--border-color);
    margin: 2px 5px 2px 5px;
    border-radius: 4px;
}

.button-secondary:hover {
    background-color: var(--btn-highlight-1);
}

.button-secondary {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* 
.tabs {
    display: flex;
    flex-flow: row;
}

.tab {
    border: 1px solid black;
    border-bottom: none;
} */

* {
    color: var(--text-color);
}

.wrap {
    max-height: 510px;
    border-radius: 8px;
    overflow: overlay;
}

.active {
    height: 510px;
    animation: slidein 0.3s 1;
}

.configurator {
    max-height: 474px;
    height: 463px;
    box-shadow: 1px 2px 3px 0px var(--shadow);
    background-color: var(--background-main);
    position: relative;
}

.configurator>div:nth-last-child(1 of .visible) {
    border-bottom: 1px solid var(--border-color);
}

#no_results {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-variation-settings: "wght" 410;
    font-size: 30px;
    color: #666a73;
    z-index: 1;
}

.active:has(.visible) #no_results {
    display: none;
}

.container {
    max-height: 510px;
    margin: 5px 0px;
}

[name=list] {
    padding: 5px;
}

#title {
    font-family: Baloo_Tammudu_2;
    font-size: 20px;
    color: var(--text-color);
    margin: -8px 0px 3px 0px;
    pointer-events: none;
    user-select: none;
}

.i {
    color: transparent;
    font-family: Baloo_Tammudu_2;
    font-size: 20px;
    position: relative;
}

.i::before {
    content: "ı";
    position: absolute;
    color: var(--text-color);
    left: 0;
}

.i::after {
    content: "i";
    position: absolute;
    color: var(--main);
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 29%, 0 29%);
}

.button {
    background-color: var(--background-main);
    outline: none;
    border: 1px solid var(--background-main);
    border-radius: 8px;
    color: var(--tooltip-accent);
    cursor: pointer;
    padding: initial;
    overflow: hidden;
    position: relative;
    font-variation-settings: "wght" 470;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in;
    user-select: none;
    box-shadow: 1px 2px 3px 0px var(--shadow);
}

.below {
    width: 30%;
    margin-top: 5px;
    height: 2.5em;
}

#filter {
    background-color: var(--background-main);
    outline: none;
    border: 1px solid var(--background-main);
    border-radius: 8px;
    color: var(--tooltip-accent);
    padding: initial;
    overflow: hidden;
    position: relative;
    font-variation-settings: "wght" 470;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in;
    user-select: none;
    box-shadow: 1px 2px 3px 0px var(--shadow);
    width: 30%;
    margin-top: 5px;
    height: 2.5em;
    text-align: center;
    transition: 200ms ease-out;
}

#filter::placeholder {
    font-variation-settings: "wght" 410;
    color: var(--input-place-color);
}

#filter:focus {
    width: 90%;
}

.button:hover {
    transform: translate(0px, -2px);
}

.button:active {
    transform: translate(0px, 0px);
}

.button-symbol {
    width: 22px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    height: 22px;
    align-items: center;
    pointer-events: none;
}

.sync {
    margin-top: 5px;
    border: initial;
    border-radius: 50%;
    width: 29px;
    display: flex;
    justify-content: center;
    background-color: var(--btn-secondary);
    color: var(--label-color);
    height: 29px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.sync-symbol {
    pointer-events: none;
    position: absolute;
    transition: opacity 0.1s, transform 1s;
    stroke: var(--btn-primary);
    opacity: 1;
}

.sync-done {
    pointer-events: none;
    position: absolute;
    left: -32px;
    transition: left 0.3s;
    opacity: 0;
    color: var(--main);
    background-color: transparent;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sync:hover>.sync-symbol {
    animation: 1s ease-out 0.3s rotate;
}

.sync-open {
    width: 30%;
    border-radius: 8px;
    background-color: var(--background-main);
    height: 2.5em;
    box-shadow: 1px 2px 3px 0px var(--shadow);
}

.done-reveal {
    left: 0px;
    right: 0px;
    opacity: 1;
}

.symbol-hide {
    opacity: 0;
}

.symbol-end {
    transition-delay: 300ms;
    opacity: 1;
}

.button-text {
    text-align: center;
    pointer-events: none;
    width: 75%;
}

.symbol-left {
    margin-left: 3px;
}

.symbol-right {
    margin-right: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    max-height: 22px;
}

#saving {
    visibility: hidden;
    margin-left: -50px;
    margin-top: -3px;
    font-weight: 900;
}

.button-symbol.symbol-right>svg {
    width: 21px;
    stroke: var(--text-color)
}

#clear {
    display: inline-flex;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.footer {
    height: 37px;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 5px;
}

#settings_page {
    height: 510px;
    margin: 5px 0px;
    animation: slidein 0.3s 1;
    max-height: 510px;
    overflow: overlay;
}

#custom_settings_page {
    height: 510px;
    margin: 5px 0px;
    animation: slidein 0.3s 1;
    max-height: 510px;
    overflow: overlay;
}


.content-editable {
    border: 1px solid var(--border-color);
    padding: 0px 2px;
    padding-bottom: 3px;
    margin-top: 10px;
    max-height: 387px;
    border-radius: 8px;
    overflow: overlay;
}

#blacklist .restrict:before {
    counter-increment: black;
    content: counter(black)". ";
    padding: 0px 5px;
    display: flex;
    align-items: center;
    color: #7b7e8b;
}

#whitelist .restrict:before {
    counter-increment: white;
    content: counter(white)". ";
    padding: 0px 5px;
    display: flex;
    align-items: center;
    color: #7b7e8b;
}

#blacklistCust .restrict:before {
    counter-increment: blackCust;
    content: counter(blackCust)". ";
    padding: 0px 5px;
    display: flex;
    align-items: center;
    color: #7b7e8b;
}

#whitelistCust .restrict:before {
    counter-increment: whiteCust;
    content: counter(whiteCust)". ";
    padding: 0px 5px;
    display: flex;
    align-items: center;
    color: #7b7e8b;
}

#global_list_restriction,
#custom_list_restriction {
    margin-top: 10px;
}

.url_restriction_container {
    margin: 5px 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.url_restriction_container>label {
    position: relative;
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 12px;
    display: flex;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    font-variation-settings: "wght" 470;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    color: var(--text-soft);
    border-radius: 8px;
}

.url_restriction_container>div {
    border-radius: 8px;
    transition: border-color 0.3s;
    overflow: hidden;
    min-height: 2.5em;
    background-color: var(--background-main);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 3px 0px var(--shadow);
}

.url_restriction_container:focus-within>label {
    /* color: var(--label-color-focus); */
    background-color: var(--btn-secondary);
    color: var(--btn-primary-text);
}

.url_restriction_container:focus-within>div {
    border-color: var(--input-border-focus);
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 5px;
}

.settings-group {
    background-color: var(--background-main);
    border-radius: 8px;
    box-shadow: 1px 2px 3px 0px var(--shadow);
    margin: 0px 2px;
}

.settings-button {
    background-color: var(--btn-secondary);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--btn-primary-text);
    font-weight: 500;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    line-height: 20.02px;
    cursor: pointer;
    width: 45px;
    user-select: none;
    transition: 200ms;
    padding: 0px;
}

.settings-button>span {
    color: inherit;
}

#clearAll {
    color: var(--text-danger);
    background: none;
    border: none;
}

.settings-button:hover {
    background-color: var(--btn-primary);
    color: var(--btn-secondary-text);
}

#donate {
    position: absolute;
    right: 50px;
    top: 6px;
    text-decoration: none;
    margin-top: 1px;
}

#donate:hover {
    text-decoration: underline;
}

.toggle-control {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control input:checked~.control {
    background-color: var(--main-soft);
}

.toggle-control input:checked~.control:after {
    left: 17px;
}

.toggle-control .control {
    position: absolute;
    top: 0;
    left: -30px;
    height: 13px;
    width: 29px;
    border-radius: 25px;
    background-color: var(--toggle-off);
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 9px;
    height: 9px;
    border-radius: 25px;
    background: var(--main);
    transform: scale(1.8);
    -webkit-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
    box-shadow: 0px 0px 2px 0.1px var(--toggle-shadow);
}

.toggle-control-settings {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-control-settings input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control-settings .control {
    position: absolute;
    height: 17px;
    width: 29px;
    right: 6px;
    border-radius: 10px;
    background-color: var(--toggle-off);
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.toggle-control-settings .control:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: var(--toggle-btn-off);
    -webkit-transition: left 0.15s ease-in, width 0.05s ease-in;
    transition: left 0.15s ease-in, width 0.15s ease-in;
}

.toggle-control-settings input:checked~.control {
    background-color: var(--btn-primary);
}

.toggle-control-settings input:checked~.control:after {
    left: 14px;
}

.toggle-control-row {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 12px;
}

.toggle-control-row input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-control-row .control-row {
    position: absolute;
    height: 17px;
    width: 17px;
    right: 0px;
    border-radius: 10px;
    border: 1px solid var(--toggle-border);
    -webkit-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.toggle-control-row .control-row:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: var(--toggle-color);
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
}

.toggle-control-row input:checked~.control-row {
    border-color: var(--toggle-color-2);
    background-color: transparent;
}

.toggle-control-row input:checked~.control-row:after {
    /* left: 14px; */
    opacity: 1;
}

#group {
    position: relative;
    height: 510px;
    overflow-y: overlay;
    overflow-x: hidden;
    animation: slideinRev 0.3s 1;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 2.5em;
    box-shadow: 1px 2px 3px 0px var(--shadow);
    align-items: center;
    padding: 0px 5px;
    background-color: var(--background-main);
    border-radius: 8px;
    transition: transform 0.1s;
}

.row_container {
    padding: 5px;
    width: 95%;
    height: 2.5em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.row_conf_btn {
    border: none;
    background-color: unset;
    color: var(--text-color);
    padding: 3px;
    border-radius: 8px;
    width: 70%;
    height: 100%;
    position: relative;
    text-align: left;
}

.row-button-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-variation-settings: "wght" 470;
}

.menu-button {
    background-color: var(--background-main);
    color: var(--color-main);
    float: right;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name_entry {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 9999;
    width: 270px;
}

#name_entry_span {
    color: var(--tooltip-color);
    display: inline-block;
    height: 100%;
    position: relative;
}

#name_entry_buttons {
    display: flex;
    justify-content: flex-end;
}

.tooltip-btn {
    background-color: var(--tooltip-input);
    border: 1px solid transparent;
    color: var(--tooltip-color);
    width: 61px;
    font-variation-settings: "wght" 410;
    margin-left: 3px;
    flex: 1;
}

.btn-primary {
    background-color: var(--btn-primary-light);
    color: var(--btn-secondary-text);
}

.btn-danger {
    background-color: var(--btn-danger);
    color: var(--btn-secondary-text);
}

.name-input {
    position: relative;
}

#name_entry_header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-input input {
    display: block;
    width: 100%;
}

#name,
#raw_url {
    color: var(--tooltip-color);
    border: 1px solid var(--shadow);
    background-color: var(--tooltip-input-bg);
    border-radius: 8px;
    outline: none;
    height: 2em;
    padding-left: 5px;
    box-sizing: border-box;
}

#raw_url.disabled {
    filter: grayscale(1);
    pointer-events: none;
    user-select: none;
}

.load-icon {
    width: fit-content;
    height: auto;
    display: none;
}

.load-icon svg {
    width: 18px;
    height: 18px;
    animation: rotate 1s steps(8, start) infinite;
}

.list_conf_header {
    margin-bottom: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.input_label {
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    background-color: var(--background-main);
    border-right: 1px solid var(--shadow);
    padding: 3px;
    font-variation-settings: "wght" 440;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    color: #696d86;
    display: flex;
    align-items: center;
}

.input_text {
    border: none;
    outline: none;
    width: 100%;
    padding-left: 5px;
    background-color: var(--background-main);
}

.input_text::placeholder {
    color: var(--input-place-color)
}

.input_container {
    transition: border-color 0.3s;
    border: 1px solid var(--shadow);
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;
    flex: 2;
    position: relative;
    height: 2.5em;
}

.input_container:focus-within>.input_label {
    color: var(--btn-primary-text);
    background-color: var(--btn-secondary);
    border-right: 1px solid var(--btn-primary-text);
    padding: 3px;
}

.input_container:focus-within {
    border-color: var(--btn-primary-text);
}

.conf_global_check {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: inline-flex;
    margin-right: 2px;
    padding-right: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--background-main);
}

.checkbox_container {
    z-index: 2;
    padding-left: 5px;
    background-color: var(--background-main);
    display: flex;
    align-items: center;
}

#options_container {
    z-index: 1;
    margin-left: -53px;
    transition: margin-left 0.3s
}

#save_name_change {
    width: 40px;
    font-size: 14px;
    line-height: 0.5;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -40px;
    border: none;
    border-left: 1px solid var(--border-color);
    display: inline-flex;
    transition: margin-right 0.3s;
    background-color: var(--body);
    outline: none;
    cursor: pointer;
    padding: initial;
    overflow: hidden;
    user-select: none;
    font-variation-settings: "wght" 470;
    background-color: var(--body);
}

#save_name_change:hover {
    background-color: var(--btn-secondary);
}

#save_name_change img {
    width: 17px
}

.tooltip {
    padding: 8px;
    background-color: var(--tooltip-background);
    color: var(--tooltip-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    position: absolute;
    -webkit-transition: background-color 0.15s ease-in;
    transition: opacity 0.15s ease-in, top 200ms ease-out;
    opacity: 0;
    backdrop-filter: blur(10px);
    box-shadow: 4px 5px 7px -1px var(--shadow);
}

.tip-top {
    border-top: 2px solid var(--main);
}

.tip-bottom {
    border-bottom: 2px solid var(--main);
}

.arrow-down {
    content: "";
    background-color: var(--tooltip-accent);
    position: absolute;
    width: 13px;
    height: 8px;
    bottom: -8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    text-align: -webkit-center;
}

.arrow-up {
    content: "";
    background-color: var(--tooltip-accent);
    position: absolute;
    width: 13px;
    height: 8px;
    top: -8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    text-align: -webkit-center;
}

.close {
    background-color: transparent;
    color: var(--tooltip-active);
    border-radius: 3px;
    border: none;
    float: right;
    height: 0px;
    cursor: pointer;
}

.settings-btn-group {
    justify-content: space-between;
}

.settings-row {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    align-items: center;
    border-bottom: 1px solid var(--shadow);
}

.settings-row:last-child {
    border-bottom: none;
}

.toggle-row {
    padding: 1px 5px;
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 25%;
}

.quarter-settings {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

/* .settings-row:nth-child(odd) {
    background-color: var(--odd-background);
} */

#clear_buttons {
    display: flex;
    justify-content: right;
}

#exportAll,
#import {
    height: 2.5em;
    border: none;
    width: 45%;
    position: relative;
}

#import_btn {
    color: var(--btn-primary-text);
    cursor: pointer;
    border: none;
    background-color: unset;
    padding: 0;
    font-size: 12px;
}

#import_btn:hover {
    text-decoration: underline;
}

#import_opts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 0px;
    overflow: hidden;
    transition: 200ms ease-out;
    padding-top: 10px;
}

#import_raw_file {
    width: 100%;
    height: 2em;
    display: block;
    border: none;
    overflow: hidden;
}

#import_raw_file.disabled {
    filter: grayscale(1);
    pointer-events: none;
    user-select: none;
}

.settings-symbol-left {
    color: inherit;
    position: absolute;
    left: 15px;
}

.settings-symbol-right {
    color: inherit;
    position: absolute;
    right: 15px;
}

#custom {
    filter: grayscale(1);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: filter 0.3s ease 0s;
}

div>.restrict>textarea::placeholder {
    color: var(--input-place-color);
}

div>.restrict:not(:first-child)>textarea::placeholder {
    color: transparent;
}

#groupColors {
    display: inline-flex;
    margin-right: 8px;
}

.trash {
    width: 13px;
}

#imported_lists {
    position: absolute;
    background: var(--background-main);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto auto;
    width: 70%;
    height: fit-content;
    max-height: 60%;
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 4px 5px 7px -1px var(--shadow);
}

#choose_import {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px 0px;
    overflow: auto;
    line-break: anywhere;
}

#import_buttons {
    width: 100%;
    text-align: end;
}

.import-button {
    width: 20%;
}

#import_header {
    width: 100%;
    color: var(--label-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.import-line {
    display: flex;
    align-items: flex-start;
}

.import-line:nth-child(odd) {
    background-color: var(--odd-background);
}

.import-list-name {
    margin-top: 2px;
}

.drag-icon {
    cursor: grab;
    line-height: 1px;
    fill: var(--border-color);
}

.drag-icon:active {
    cursor: grabbing;
}

.trash-icon {
    pointer-events: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.trash-icon svg {
    width: 13px;
    height: 16px;
    pointer-events: none;
    fill: var(--menu-color);
    /* var(--border-color); */
}

.menu {
    display: flex;
    flex-direction: column;
    width: 140px;
}

.menu-option {
    margin: 2px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    user-select: none;
    cursor: default;
}

.menu-option:hover {
    background-color: var(--tooltip-hover);
}

.menu-option:active {
    background-color: var(--tooltip-active);
}

.seperator {
    height: 1px;
    background-color: var(--tooltip-seperator);
    margin: 5px 0px;
}

.add-icon svg {
    stroke: var(--tooltip-color);
    color: var(--tooltip-icon);
    margin-right: 10px;
}

.trash-icon svg {
    width: 24px;
    height: 16px;
}

#alert {
    position: absolute;
    background-color: var(--body);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 70%;
    height: fit-content;
    margin: auto auto;
    box-shadow: 4px 5px 7px -1px var(--shadow);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

#alert_exit {
    position: absolute;
    top: 2px;
    right: 4px;
    height: 0px;
    cursor: pointer;
    user-select: none;
}

#alert_title {
    color: var(--main);
    user-select: none;
}

#alert_message {
    padding-top: 10px;
}

.eraser-icon svg {
    width: 13px;
}

.restrict-info {
    width: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 3px;
    top: 0px;
    bottom: 0px;
    margin: auto auto;
}

.restrict-info svg {
    width: 15px;
}

.restrict-info>svg>g>path {
    fill: var(--info-fill);
}

.style-example {
    padding: 5px;
    background: var(--background-main);
    border-radius: 8px;
    box-shadow: 1px 2px 3px 0px var(--shadow);
    text-align: center;
    line-height: 2;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#style_example {
    font-family: inherit;
    border-radius: 3px;
    box-shadow: #20202059 1px 1px 3px;
}

.color-mode-container {
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px !important;
}

.color-list {
    display: flex;
    gap: 5px;
    background-color: var(--background-main);
    width: 90%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--shadow);
}

.color-list>.color-item::marker {
    content: "";
}

.color-list>.color-item {
    display: flex;
    flex: 1;
}

.color-list input {
    display: none;
}

.color-list label {
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 200ms;
    width: 100%;
    text-align: center;
    font-variation-settings: 'wght' 470;
    user-select: none;
}

.color-list input:checked+label {
    background-color: var(--btn-primary);
    color: var(--btn-secondary-text);
    box-shadow: 1px 2px 2px #00000059;
}

.color-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
    padding: 8px 5px;
    background: var(--btn-secondary);
    border-radius: 5px;
    width: 90%;
}

.color-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-option {
    display: none;
}

.color-option:checked+label {
    outline: 2px solid var(--color);
    outline-offset: 1px;
    box-shadow: 1px 2px 2px 3px #00000059;
    ;
}

.color-option-label {
    display: inline-block;
    flex: 1;
    height: 20px;
    border-radius: 5px;
    background-color: var(--color);
    box-shadow: 1px 2px 2px #00000059;
}

.color-option-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.color-option-picker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
    padding: 0;
}

.color-option-picker::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

.color-option-picker::-moz-color-swatch {
    border-radius: 5px;
    border: none;
    padding: 0;
}

.color-option-picker::-moz-color-swatch-wrapper {
    padding: 0;
    border: none;
}

.color-picker-icon {
    position: absolute;
    pointer-events: none;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}

#bg-picker-icon path {
    fill: var(--bg-picker-color);
}

#text-picker-icon path {
    fill: var(--text-picker-color);
}

#color_selection_options {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-out;
    width: 100%;
}

.settings-title {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 12px;
    display: flex;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    font-variation-settings: "wght" 470;
    user-select: none;
    margin: 0;
    color: var(--text-soft)
}

.color-mode-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-main);
    border-radius: 8px;
    box-shadow: 1px 2px 3px 0px var(--shadow);
}

.settings-container {
    margin: 0px 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settings-nav {
    position: relative;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 5px;
}

.glider {
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background: var(--btn-primary-light);
    left: 0;
    transition: transform 200ms;
    z-index: 2;
}

.glider-bar {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--shadow);
    left: 0;
    z-index: 1;
}

.settings-nav label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--text-soft);
    height: 2em;
    border-radius: 8px;
    transition: 200ms;
    cursor: pointer;
    font-variation-settings: 'wght' 470;
    user-select: none;
}

.settings-nav input {
    display: none;
}

.settings-nav #nav_general:checked~.glider {
    transform: translateX(0%);
}

.settings-nav #nav_style:checked~.glider {
    transform: translateX(100%);
}

.settings-nav input:checked+label {
    color: var(--btn-primary-text);
}

#custom_general,
#custom_style {
    animation: slidein 0.3s 1;
}

.chkbx:checked+textarea {
    background-color: rgb(0, 0, 0, .05);
}

.text-style-container {
    display: flex;
    gap: 5px;
}

.text-style {
    display: none;
}

.text-style-container label {
    padding: 5px;
    background-color: var(--background-main);
    box-shadow: 1px 2px 3px 0px var(--shadow);
    border-radius: 8px;
    font-size: 24px;
    width: 1em;
    height: 1em;
    text-align: center;
    cursor: pointer;
    font-family: serif;
    user-select: none;
}

.text-style-container input:checked+label {
    box-shadow: inset 1px 2px 3px 0px var(--shadow);
}

[for="italic_style"] {
    font-style: italic;
}

[for="bold_style"] {
    font-weight: 800;
}

[for="underline_style"] {
    text-decoration: underline;
}

#show_loaded_file {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    color: var(--btn-primary-text);
    background-color: var(--btn-secondary);
}

#show_loaded_file.visible {
    display: flex;
}

#show_loaded_file.hidden {
    display: none;
}

#file_name {
    flex: 1;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-icon {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-right: -5px;
}

#file_remove {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 13px;
    color: var(--tooltip-accent);
    cursor: pointer;
}