@font-face {
    font-family: "Mukta";
    src: url('/fonts/Mukta-SemiBold.ttf');
}

body {
    background-color: white;
}

.item {
    display: flex;
    flex-flow: row;
}

.textarea {
    resize: none;
    outline: none;
    border: none;
}

.color {
    border: none;
    width: 16px;
    height: 20px;
    padding: 0px;
    background-color: #f7f7f7;
}

.flag-off {
    font-size: 11px;
    padding: 0px 2px;
    outline: none;
    background-color: #1a73e8;
    border: 1px solid #dadce0;
    margin: 2px 5px 2px 5px;
    color: white;
}

.flag-on {
    font-size: 11px;
    padding: 0px 2px;
    outline: none;
    background-color: white;
    border: 1px solid #dadce0;
    margin: 2px 5px 2px 5px;
}

.tabs {
    display: flex;
    flex-flow: row;
}

.tab {
    border: 1px solid black;
    border-bottom: none;
}

.wrap {
    overflow: auto;
    border: 1px solid #c6c3d6;
    max-height: 510px;
}

#list {
    padding: 5px;
}

#domain {
    padding: 5px;
}

#title {
    font-family: Mukta;
    font-size: 20px;
    color: #1a73e8;
    margin: 0px 0px 3px 0px;
}

.button-below {
    background-color: white;
    outline: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #1a73e8;
    margin-top: 5px;
    font-weight: 500;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    line-height: 20.02px;
    height: 32px;
    cursor: pointer;
}

#saving-svg {
    width: 32px;
    margin-top: -8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#saving {
    visibility: hidden;
}

.settings {
    width: 22px;
    float: right;
    cursor: pointer;
    margin-top: 6%;
}

#this-domain {
    position: absolute;
    left: 35%;
    width: 106px;
    margin-top: 15px;
}

#this-domain:hover {
    background-color: #1a73e8;
    color:white;
}
#clear {
    margin-top:5%;
    display: inline-flex;
    position: relative;
    top: 3px;
    justify-content: center;
    outline: none;
    width:26px;
    height: 24px;
    border-radius: 25px;
    border: 1px solid #dadce0;
    cursor: pointer;
}

#clear:hover {
    border: 1px solid #1a73e8;
}

.footer {
    height: 56px;
}

.groupColors {
    display: inline-flex;
    margin-left: 23px;
    display: none;
}